<ion-view class="home" ng-init="refresh()">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Instagram</h1>
    </div>

    <ion-content class="main-content">

        <div class="list card" ng-repeat="post in posts">

            <a class="item item-avatar" ng-if="post.user.userid === currentUser.userid" href="#/app/account">
                <img ng-src="{{ post.user.avatar }}">
                <h2>{{ post.user.username }}</h2>
                <p><span am-time-ago="post.createdTime"></span></p>
            </a>

            <a class="item item-avatar" ng-if="post.user.userid !== currentUser.userid" ng-href="#/app/home-user/{{post.user.userid}}">
                <img ng-src="{{ post.user.avatar }}">
                <h2>{{ post.user.username }}</h2>
                <p><span am-time-ago="post.createdTime"></span></p>
            </a>

            <div class="item item-image">
                <img ng-src="{{ post.image }}">
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item"><i ng-class="{'icon ion-ios-heart-outline': !post.tickLike, 'icon ion-ios-heart': post.tickLike}" ng-click="toggleLike(post)"></i></a>
                <a class="tab-item" ng-if="post.user.userid === currentUser.userid"><i class="icon ion-trash-b" ng-click="deletePost(post.id)"></i></a>
            </div>

            <div class="item item-body">
                <p><i class="icon ion-ios-heart"></i><b ng-repeat="like in post.likes"><a href="#/app/home-user/{{ like.userid }}"> {{ like.username }} </a></b></p>

                <p class="img-caption">{{ post.caption }}</p>
                <p class="img-comments" ng-repeat="each in post.comments">
                    <b>{{ each.username }}</b> {{ each.text }}
                </p>

                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="Add a comment" ng-model="comment.text">
                    </label>
                    <button class="button button-small" ng-click="postComment(post)">
                        Send
                    </button>
                </div>
            </div>

        </div>
        
    </ion-content>
</ion-view>