<ion-view class="home" ng-init="refresh()">

    <ion-content class="main-content">

    <div class="row">
        <div class="list card col col-50">
            <div class="item item-image">
                <img src="/img/image.jpg">
            </div>
            <h4>Check me now</h4>
        </div>
        <div class="list card col col-50">
            <div class="item item-image">
                <img src="/img/image.jpg">
            </div>
            <h4>Graph</h4>
        </div>
    </div>
    <div class="row">
        <div class="list card col col-50">
            <div class="item item-image">
                <img src="/img/image.jpg">
            </div>
            <h4>Exercise</h4>
        </div>
        <div class="list card col col-50">
            <div class="item item-image">
                <img src="/img/image.jpg">
            </div>
            <h4>Hospital record</h4>
        </div>
    </div>
    <div class="row">
        <div class="list card col col-50">
            <div class="item item-image">
                <img src="/img/image.jpg">
            </div>
            <h4>Calendar</h4>
        </div>
        <div class="list card col col-50">
            <div class="item item-image">
                <img src="/img/image.jpg">
            </div>
            <h4>Guideline</h4>
        </div>
    </div>
        



        
    </ion-content>
</ion-view>